<div class="sideMenu-mobile" id="SideMenu" (click)="closeMenu()">
    <div class="topHeaderSideMenu">
        <img src="assets/images/back.svg" alt="" (click)="closeMenu()" class="backButton">
        <div>
            <img src="assets/images/qlubdeal.png" alt="" class="logo">
        </div>

    </div>

    <div class="line"></div>
    <div class="menu-mobile">
        <div class="menuItem">
            <strong>Q</strong>ryptoBank
        </div>
        <div class="menuItem">
            NFTma<strong>Q</strong>er
        </div>
        <div class="menuItem">
            <strong>Q</strong>redit
        </div>
        <div class="menuItem">
            <strong>Q</strong>ryptex
        </div>
        <div class="menuItem">
            AirDrop
        </div>
    </div>
    <div class="regulation">
        <span>Pending Switzerland's regulation</span>
        <img src="assets/images/flag.png" alt="">
    </div>
    <div>Connect</div>
    <div class="lastPart">
        <img src="assets/images/header/moon.svg" alt="">
        <img src="assets/images/header/apple-logo.svg" alt="">
        <img src="assets/images/header/playstore.svg" alt="">
    </div>
</div>
<div class="super_header">

    <img src="assets/images/menu.svg" alt="" class="toggleMenuMobile" (click)="openMenu()">
    <img src="assets/images/qlubdeal.png" alt="" class="logo">


    <div class="menu">
        <div class="menuItem">
            <strong>Q</strong>ryptoBank
        </div>
        <div class="menuItem">
            NFTma<strong>Q</strong>er
        </div>
        <div class="menuItem">
            <strong>Q</strong>redit
        </div>
        <div class="menuItem">
            <strong>Q</strong>ryptex
        </div>
        <div class="menuItem">
            AirDrop
        </div>
    </div>
    <div class="regulation">
        <span>Pending Switzerland's regulation</span>
        <img src="assets/images/flag.png" alt="">
    </div>
    <div class="desktop-connect">Connect</div>
    <div class="lastPart">

        <img src="assets/images/header/moon.svg" alt="">
        <img src="assets/images/header/apple-logo.svg" alt="">
        <img src="assets/images/header/playstore.svg" alt="">
    </div>
</div>