<div class="space"></div>
<div class="section flex" animateOnScroll animationName="fadeIn">
    <div class="leftBloc Wrapper">
        <h2>Qlubdeal FAQs </h2>
        <div class="dots">
            If you have more questions, contact us
        </div>
        <div>
            <div class="CTA CTA2">
                Contact
            </div>
        </div>

    </div>

    <div class="faq">
        <div class="faqItem" (click)="openFAQ(faq)" *ngFor="let faq of faqs">
            <div class="headerFaq">
                <div class="title">{{faq.title}}</div>
                <div class="icon" [class.openned]="faq.visible"></div>
            </div>
            <div class="contentFaq dots" [class.closed]="faq.visible">{{faq.content}}</div>
        </div>
    </div>
</div>