<!-- Header -->
<div class="header">
    <div class="videoBg">
        <video src="assets/videos/map.mp4 " loop autoplay [muted]="'muted'"></video>
        <video src="assets/videos/map.mp4 " loop autoplay [muted]="'muted'"></video>
        <video src="assets/videos/map.mp4 " loop autoplay [muted]="'muted'"></video>
    </div>
    <h1 class="bigTitle">The place to create & manage your <b>Qlubdeal</b>, <b>Private space</b> and
        <b>financial project</b> with security in a legal evironment
    </h1>
    <div class="CTA CTA1">
        Create your Qlubdal for free
    </div>
</div>

<!-- trusted Companies -->
<div class="section" animateOnScroll animationName="fadeIn">
    <p class="titleCompany">Trusted Companies</p>
    <div class="companies">
        <img src="assets/images/rarible.svg" alt="">
        <img src="assets/images/Asset 9.svg" alt="">
        <img src="assets/images/openSea.svg" alt="">
        <img src="assets/images/N.svg" alt="">
    </div>
    <p class="titleCompany">They talk about us worldwide</p>
    <div class="companies">
        <img src="assets/images/talkAboutUs/challenges.svg" alt="">
        <img src="assets/images/talkAboutUs/entreprendre.svg" alt="">
        <img src="assets/images/talkAboutUs/financial_times.svg" alt="">
        <img src="assets/images/talkAboutUs/forbes.svg" alt="">
        <img src="assets/images/talkAboutUs/usa_today.svg" alt="" class="usaImage">
        <img src="assets/images/talkAboutUs/reuters.svg" alt="">
        <img src="assets/images/talkAboutUs/medecine_directe.svg" alt="">
        <img src="assets/images/talkAboutUs/zone_bourse.svg" alt="" class="lastImage">
    </div>
</div>