<div class="space"></div>
<div class="section  footer" animateOnScroll animationName="fadeIn">
    <div class="footerItem">
        <img src="assets/images/qryptoBankDark.svg" alt="">
    </div>
    <div class="footerItem">
        <div class="title">PROJECT</div>
        <div class="links">
            <div class="linkItem">QryptoBank - Defi staking</div>
            <div class="linkItem">NFTmaQer</div>
            <div class="linkItem">Qryptex</div>
            <div class="linkItem">Qredit</div>
            <div class="linkItem">ListMyAirdrop</div>
            <div class="linkItem">Qlubdeal</div>
            <div class="linkItem">Stoq & Qollector - Trading</div>
            <div class="linkItem">AirQube</div>
        </div>
    </div>
    <div class="footerItem">
        <div class="title">ASSETS</div>
        <div class="links">
            <div class="linkItem">Trending</div>
            <div class="linkItem">Stakeable</div>
            <div class="linkItem">Assets</div>
            <div class="linkItem">Supported coins</div>
        </div>
    </div>
    <div class="footerItem">
        <div class="title">COMPANY</div>
        <div class="links">
            <div class="linkItem">Team - Advisors</div>
            <div class="linkItem">Academy - Crypto Expert</div>
            <div class="linkItem">Investor's circle</div>
            <div class="linkItem">Become an Ambassador</div>
            <div class="linkItem">Points & QRB</div>
            <div class="linkItem">Terms & Conditions</div>
            <div class="linkItem">RoadMap</div>
            <div class="linkItem">Contact us</div>
        </div>
    </div>
    <div class="footerItem desktop">
        <div class="title">About</div>
        <div class="links">
            <div class="linkItem">CryptoBank AG <br> Köln - Germany Regulated by the Federal Financial Supervisory Authority (Bundesanstalt für Finanzdienstleistungsaufsicht - BaFin).
            </div>
            <div class="linkItem">QryptoBank is a payment institution regulated through the European Electronic Money issuer. All flows are subject to control and security standards of the EME. Every user benefits from the guarantees linked to the scheme’s network on electronic
                money flows.</div>
            <div class="linkItem">
                <div class="regulation">
                    <span>Pending Switzerland's regulation</span>
                    <img src="assets/images/flag.png" alt="">
                </div>
            </div>
            <div class="linkItem">
                <div class="CTA CTA3">Read our whitePaper</div>
            </div>

        </div>
    </div>
</div>
<div class="footerItem mobile">
    <div class="title">About</div>
    <div class="links">
        <div class="linkItem">CryptoBank AG <br> Köln - Germany Regulated by the Federal Financial Supervisory Authority (Bundesanstalt für Finanzdienstleistungsaufsicht - BaFin).
        </div>
        <div class="linkItem">QryptoBank is a payment institution regulated through the European Electronic Money issuer. All flows are subject to control and security standards of the EME. Every user benefits from the guarantees linked to the scheme’s network on electronic
            money flows.</div>
        <div class="linkItem">
            <div class="regulation">
                <span>Pending Switzerland's regulation</span>
                <img src="assets/images/flag.png" alt="">
            </div>
        </div>
        <div class="linkItem">
            <div class="CTA CTA3">Read our whitePaper</div>
        </div>

    </div>
</div>