<div class="super_footer">
    <div class="criptos">
        <div class="crytoItem">
            <img src="assets/images/header/cryptos/3.svg" alt="">
            <span>BTC</span>
        </div>
        <div class="crytoItem">
            <img src="assets/images/header/cryptos/4.svg" alt="">
            <span>USDT</span>
        </div>
        <div class="crytoItem">
            <img src="assets/images/header/cryptos/5.svg" alt="">
            <span>ETH</span>
        </div>
        <div class="crytoItem">
            <img src="assets/images/header/cryptos/6.svg" alt="">
            <span>USDC</span>
        </div>
        <div class="crytoItem">
            <img src="assets/images/header/cryptos/8.svg" alt="">
            <span>DCN</span>
        </div>
        <div class="crytoItem">
            <img src="assets/images/header/cryptos/7.svg" alt="">
            <span>BNB </span>
        </div>
        <div class="crytoItem">
            <img src="assets/images/header/cryptos/2.svg" alt="">
            <span>DBC </span>
        </div>
        <div class="crytoItem">
            <img src="assets/images/header/cryptos/1.svg" alt="">
            <span>EGG </span>
        </div>
    </div>
    <img src="assets/images/qrb.png" alt="" class="logoQRB">
    <div class="reseaux">
        <img src="assets/images/reseaux/discord.svg" alt="">
        <img src="assets/images/reseaux/github.svg" alt="">
        <img src="assets/images/reseaux/skype.svg" alt="">
        <img src="assets/images/reseaux/telegram.svg" alt="">
    </div>

    <img src="assets/images/qrb.png" alt="" class="logoQRB-mobile">
</div>