<div class="space"></div>
<div class="section flex white" animateOnScroll animationName="fadeIn">
    <div class=" leftBloc publicOffering">
        <h2>The public offering and financial advice in the public space are prohibited by administrators and regulators
        </h2>
        <div>
            <div class="CTA CTA2 ">
                Create your Qlubdal for free
            </div>
        </div>
        <div class="detailsVideo detailsVideo2 ">
            <div class="detailVideoItem ">
                <img src="assets/images/notAllowed.PNG " alt=" ">
                <div class="title ">
                    <div>
                        <div class="number ">1</div>
                    </div>
                    <div class="subtitle ">Most countries outlaw the use of public social networks to promote financial
                        projects.
                    </div>
                </div>
            </div>
            <div class="detailVideoItem ">
                <img src="assets/images/Allowed.PNG " alt=" ">
                <div class="title ">
                    <div>
                        <div class="number ">2</div>
                    </div>
                    <div class="subtitle ">Qlubdeal is a private and interactive space that allows all financial
                        projects to be fully presented legally.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <video src="assets/videos/QlubdealRestriction.mp4 " loop autoplay [muted]=" 'muted ' "></video>
    </div>
</div>
<div class="space "></div>
<div class="section flex white center " animateOnScroll animationName="fadeIn">
    <div class="leftBloc ">
        <h2>Taking part in a Qlubdeal project is really easy and you will directly receive your profits on your
            QryptoBank card</h2>
        <div>
            <div class="CTA CTA2 ">
                Create your Qlubdal for free
            </div>
        </div>

    </div>
    <div>
        <video src="assets/videos/QlubDealWork.mp4 " loop autoplay [muted]="'muted'"></video>
    </div>
</div>
<div class="section flex white " animateOnScroll animationName="fadeIn">
    <div class="detailsVideo detailsVideo4 ">
        <div class="detailVideoItem ">

            <img src="assets/images/videoComponent/presentProject.PNG " alt=" " class="floating delay1">

            <div class="title ">
                <div>
                    <div class="number ">1</div>
                </div>
                <div class="subtitle ">Present your financial projects with all the details.</div>
            </div>
        </div>
        <div class="detailVideoItem ">

            <img src="assets/images/videoComponent/investment.PNG " alt=" " class="floating">


            <div class="title ">
                <div>
                    <div class="number ">2</div>
                </div>
                <div class="subtitle ">Members of your Qlubdeal parcipate to the funding of your project
                </div>
            </div>
        </div>
        <div class="detailVideoItem ">

            <img src="assets/images/videoComponent/projetEnCours.PNG " alt=" " class="floating delay1">


            <div class="title ">
                <div>
                    <div class="number ">3</div>
                </div>
                <div class="subtitle ">Your project gets started
                </div>
            </div>
        </div>
        <div class="detailVideoItem ">

            <img src="assets/images/videoComponent/receiveProjet.PNG " alt=" " class="floating">

            <div class="title ">
                <div>
                    <div class="number ">4</div>
                </div>
                <div class="subtitle ">Each investor receives in his account the income due to him
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space "></div>
<div class="section flex " animateOnScroll animationName="fadeIn">
    <div class="imageSection ">
        <img src="assets/images/QryptoApp.png " alt=" ">
    </div>
    <div class="leftBloc ">
        <h2>Build Private & Secure Investment Clubs and manage your own community. </h2>
        <div class="dots ">
            <div class="dotItem ">
                Take advantage of the Staking
            </div>
            <div class="dotItem ">
                Earn airdrops
            </div>
            <div class="dotItem ">
                Create and manage your NFT collection
            </div>
            <div class="dotItem ">
                Develop and expand your Clubdeal
            </div>
            <div class="dotItem ">
                Share your affiliations link and share bonuses
            </div>
        </div>
        <div>
            <div class="CTA CTA2 ">
                Create your Qlubdal for free
            </div>
        </div>

    </div>

</div>