<div class="space"></div>
<div class="section  grey" animateOnScroll animationName="fadeIn">
    <div class="leftBloc useCase">
        <h2>Others use cases in the Crypto World </h2>
        <div class="dots">Take advantage of our smart contract according to your needs and manage your assets as you desire.
        </div>

    </div>
    <div class="detailsVideo detailsVideo6">
        <div class="useCaseItem">
            <img src="assets/videos/usecase/QryptoBank 2.gif" alt="">
            <div class="title">QryptoBank</div>
        </div>
        <div class="useCaseItem">
            <img src="assets/videos/usecase/AirDrop 6.gif" alt="">
            <div class="title">AirDrop</div>
        </div>
        <div class="useCaseItem">
            <img src="assets/videos/usecase/Nft Maker 2.gif" alt="">
            <div class="title">NFTmaQer</div>
        </div>
        <div class="useCaseItem">
            <img src="assets/videos/usecase/Credit 2.gif" alt="">
            <div class="title">Qredit</div>
        </div>
        <div class="useCaseItem">
            <img src="assets/videos/usecase/QlubDeal Gif_1.gif" alt="">
            <div class="title">Qlubdeal</div>
        </div>
        <div class="useCaseItem">
            <img src="assets/videos/usecase/Cryptex 2.gif" alt="">
            <div class="title">Qriptex</div>
        </div>
    </div>
    <div class="space"></div>
</div>