<div class="space"></div>
<div class="section flex white center" animateOnScroll animationName="fadeIn">
    <div class="leftBloc Wrapper">
        <h2>Track All Your Digital Assets from a Single DeFi Dashboard. </h2>
        <div class="dots">
            Track the performance of your digital assets across all blockchains. With our unique and user-friendly dashboard, you have the ability to add wallets of Ethereum, Polygon, Avalanche, BSC, Solana and soon many more. <br><br> Seamlessly manage
            your DeFi assets on your multi-chain dashboard. Track your net worth with our aggregated view of multiple crypto-currency wallets, view your full portfolio history, and dive deeper with ROI analysis and other metrics like ROI vs. HODLing.
        </div>
        <div>
            <div class="CTA CTA2">
                Create your Qlubdal for free
            </div>
        </div>

    </div>

    <div class="imageSection dashboard">
        <img src="assets/images/dashboard.jpg" alt="">
    </div>
</div>