// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Qlubdeal-primary: mat.define-palette(mat.$indigo-palette);
$Qlubdeal-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$Qlubdeal-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Qlubdeal-theme: mat.define-light-theme(( color: ( primary: $Qlubdeal-primary, accent: $Qlubdeal-accent, warn: $Qlubdeal-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Qlubdeal-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow-x: hidden !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: fregular;
    src: url(assets/fonts/prod_regular.ttf);
}

@font-face {
    font-family: fbold;
    src: url(assets/fonts/prod_bold.ttf);
}

* {
    transition: 0.5s;
    box-sizing: border-box;
    font-family: "fregular";
}

body {
    margin: 0;
    padding: 0;
    background-color: #F9FDFE;
}

.footerItem.mobile,
.logoQRB-mobile,
.sideMenu-mobile {
    display: none;
}

.lastPart {
    display: flex;
    align-items: center;
}

.lastPart img {
    padding: 0px 8px;
}

.regulation {
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.regulation img {
    width: 20px;
    margin-left: 8px;
}


/* header */

.header {
    height: 60vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.bigTitle b {
    color: #2FBAFB;
}

.videoBg {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* opacity: 0.7; */
    z-index: -1;
}

.videoBg:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #F9FDFE;
    opacity: 0.4;
    z-index: 0;
}

.videoBg img {
    width: 900px;
}

.header h1 {
    text-align: center;
    padding: 0 300px;
    color: #7C7C7C;
}

.CTA {
    padding: 12px 36px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
}

.CTA1 {
    background-color: #2FBAFB;
    color: #fff;
    box-shadow: -1px 5px 20px 4px #2fbafb4a;
}

.CTA2 {
    border: 1px solid #2FBAFB;
    background-color: #ffffff;
    color: #2fbafb;
}

.CTA3 {
    border: 1px solid #272727;
    background-color: #ffffff;
    color: #2c2c2c;
}

.CTA1:hover {
    transform: scale(1.01);
    box-shadow: -1px 10px 20px 4px #2fbafb7d;
}


/* trusted companies */

.section {
    padding: 32px 160px;
    // for aniamtion 
    // opacity: 0;
    // transform: scale(1.2);
}

.fadeIn {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.section.alignItem {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section.alignItem * {
    text-align: center;
}

.section h2 {
    color: #303740;
    font-family: "fregular" !important;
    font-weight: 100;
}

.section .leftBloc h2 {
    color: #303740;
    font-family: "fregular" !important;
    font-weight: 100;
    /* width: 35vw; */
}

.section.center {
    align-items: center;
}

.section video {
    width: 35vw;
}

.section .leftBloc {
    margin-right: 70px;
}

.Wrapper {
    margin-right: 16vw !important;
}

.section.white {
    background-color: #fff;
}

.section.grey {
    background-color: #FBFBFB;
}

.space {
    height: 150px;
}

.section.flex {
    display: flex;
    justify-content: space-between;
}

.companies {
    display: flex;
    align-items: center;
}

.companies img {
    padding: 0 16px;
    width: 130px;
}

.companies img:last-child {
    width: 60px;
}

.lastImage {
    width: 130px !important;
}

.usaImage {
    width: 70px !important;
}

.titleCompany {
    color: #D5D8DE;
    font-size: 24px;
}

.detailsVideo {
    display: grid;
    grid-gap: 32px;
}

.detailsVideo2 {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 2vw;
    margin-top: 36px;
}

.detailsVideo4 {
    grid-gap: 64px;
    grid-template-columns: repeat(4, 1fr);
}

.detailsVideo6 {
    grid-gap: 64px;
    grid-template-columns: repeat(6, 1fr);
}

.detailVideoItem {
    margin-top: 32px;
    width: 100%;
}

.number {
    width: 25px;
    height: 25px;
    background-color: #213492;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin-right: 8px;
}

.subtitle {
    color: #797979;
}

.title {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.detailVideoItem img {
    width: 100%;
}

.detailsVideo4 .title {
    margin-top: 12px;
}

.detailsVideo .subtitle {
    font-size: 14px;
}

.imageContainer {
    height: 214px;
    overflow: hidden;
}

.imageSection img {
    width: 40vw;
}

.dots {
    font-size: 14px;
    margin-bottom: 32px;
}

.dotItem {
    position: relative;
    padding: 2px 0px;
    margin-left: 16px;
}

.dotItem:before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2FBAFB;
}

.dashboard img {
    width: 30vw;
}

.headerFaq {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqItem {
    padding: 16px 0px;
    border-top: 1px solid rgb(197, 197, 197);
    cursor: pointer;
}

.faq {
    flex: 1;
}

.headerFaq .icon {
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-image: url("assets/images/more.svg");
    margin-left: 14px;
}

.contentFaq {
    margin-top: 16px;
    color: #aaa;
    overflow: hidden;
    max-height: 0px;
    margin-bottom: 0px !important;
}

.icon.openned {
    background-image: url("assets/images/close.svg") !important;
}

.contentFaq.closed {
    max-height: 200px;
}

.contentFaq.openned {
    max-height: 200px;
}

.useCase {
    width: 300px;
}

.useCaseItem img {
    width: 100px;
}

.useCaseItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.useCaseItem .title {
    color: #aaa;
    font-size: 14px;
}

.emojies {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.emojies img {
    margin: 0 8px;
    cursor: pointer;
}

.alignItem .dots {
    margin-bottom: 8px !important;
}

.alignItem h2 {
    margin-bottom: 0px !important;
}

.floating {
    position: relative;
    animation: floating 3s ease 0s infinite;
}

.floating.delay1 {
    animation-delay: 0.5s;
}

@keyframes floating {
    0% {
        bottom: -15px;
    }
    50% {
        bottom: 15px;
    }
    100% {
        bottom: -15px;
    }
}

// Responsive

/* Responsive */

@media (max-width: 1000px) {
    body>app-root>div>app-dashboard>div.section.flex.white.center.fadeIn>div.leftBloc.Wrapper {
        order: 2;
    }
    .super_header {
        padding: 16px !important;
    }
    .menu,
    .desktop-connect {
        display: none !important;
    }
    .super_header .regulation {
        display: none !important;
    }
    .bigTitle {
        font-size: 18px;
        padding: 15px !important;
    }
    .header {
        height: 30vh !important;
    }
    .toggleMenuMobile {
        display: block !important;
    }
    .section {
        padding: 16px !important;
    }
    .companies {
        display: grid !important;
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }
    .section.flex {
        flex-direction: column !important;
    }
    .section .leftBloc {
        margin-right: 0px !important;
    }
    .detailsVideo2,
    .detailsVideo4 {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    body>div>div.section.footer>div:nth-child(1) {
        display: none;
    }
    .footer {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 16px;
    }
    .detailsVideo6 {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .detailVideoItem img {
        border-radius: 16px;
        border: 1px solid rgba(170, 170, 170, 0.589);
    }
    .space {
        height: 75px !important;
    }
    .section video {
        margin-top: 16px;
        width: 100%;
    }
    .imageContainer {
        height: auto;
    }
    .imageSection img {
        width: 100%;
    }
    body>div>div:nth-child(12)>div.leftBloc.Wrapper {
        order: 2;
    }
    .faq {
        margin-top: 16px;
    }
    .footerItem.desktop,
    body>app-root>div>app-super-header>div.super_header.AbsolutePos_shadow>div:nth-child(5),
    body>app-root>div>app-footer>div.section.footer>div:nth-child(1) {
        display: none !important;
    }
    .footerItem.mobile {
        display: block !important;
        padding: 16px;
    }
    .criptos {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 8px;
    }
    .super_footer {
        padding: 16px !important;
        flex-direction: column;
    }
    .reseaux {
        margin-top: 16px;
    }
    .logoQRB {
        display: none !important;
    }
    .logoQRB-mobile {
        display: block;
        width: 50px;
        margin-top: 16px;
    }
    body>div>div.super_header.AbsolutePos_shadow>div:nth-child(5) {
        display: none !important;
    }
}