<div class="section white center alignItem" animateOnScroll animationName="fadeIn">
    <h2>Your opinion is important</h2>
    <div class="dots">How do you fill about the page and services.</div>
    <div class="emojies">
        <img src="assets/images/opinion/3.svg" alt="">
        <img src="assets/images/opinion/4.svg" alt="">
        <img src="assets/images/opinion/5.svg" alt="">
        <img src="assets/images/opinion/1.svg" alt="">
        <img src="assets/images/opinion/2.svg" alt="">
    </div>
</div>